{% load static %}

<link rel="stylesheet" href="{% static 'comptabilite/style.css' %}">
<div class="tab-pane  show " id="v-pills-famille" role="tabpanel" aria-labelledby="v-pills-famille-tab">
                <nav class="navbar navbar-expand-lg nav2 ">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-2 mb-2 mb-lg-0 d-flex justify-content-between w-100 mx-2 ">


                            <div>

                            </div>
                            <div class="d-flex">


                            <li class="nav-item">
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Recherche">

                                </form>
                            </li>
                            </div>



                        </ul>


                    </div>

                </nav>
</div>


